.carrinhoButton{
  display: flex;
  position: fixed;
  background: linear-gradient(#4e7ed2, #7903ff) ;
  justify-content: center;
  color: white;
  height: 65px;
  width: 70px;
  z-index: 1;
  transform: translate3d(1,1,1px);
  margin-top: 200px;
}

.backButton{
  display: flex;
  justify-content: center;
  background: linear-gradient(#0000ca, #62007a);
  color: white;
  height: 30px;
  width: 100%;
  z-index: 1;
}


