
<div class='animated fadeInDown background notranslate'></div>
<div class='animated bounceInDown text notranslate' style="color: white; font-weight: bold">
  Seja Bem-vindo ao <br>
  nosso Delivery!
</div>


<div class='animated bounceInUp thirdText notranslate'>
  Conheça Nosso Cardápio! <br>
  Dispomos de diversas  <br>
  opções para complementar <br>
  uma refeição saborosa  <br>
  para você!!
</div>

<div (click)="navigate('/produtos')" class='button animated bounceInUp notranslate'>
  <button mat-raised-button style="background: linear-gradient(#5100a7, #0000ca); border-radius: 15px; color: white;" class='cardapio longanimated bounce infinite notranslate'>Veja Nossos <br>Produtos!</button>
</div>


